---
import { Image } from "astro:assets";
import googleWhite from "@/assets/pages/homepage/google-white.png";

interface Props {
	testimonial: string;
	name: string;
}

const { testimonial, name } = Astro.props;
---

<div class="text-sm font-medium pt-20 pb-14">
	<div class="bg-black flex-grow py-20 px-16 rounded-3xl">
		<div class="items-center flex-col justify-center text-center flex">
			<Image
				src={googleWhite}
				alt="Google logo"
				class="object-contain align-middle inline-block w-full h-10 max-w-[8.13rem] mb-8"
			/>
			<h2 class="text-white text-[2.13rem] leading-9 lg:max-w-[60%] mb-1">
				"{testimonial}"
			</h2>
			<div class="bg-white/[0.9] w-12 h-0 my-8 m-auto mx-auto"></div>
			<h3 class="text-white text-lg">{name}</h3>
		</div>
	</div>
</div>
