---
import { type CollectionEntry, getCollection } from "astro:content";
import type { ButtonProps } from "@/components/primitives/Button.astro";
import Link from "@/components/primitives/Link.astro";
import WorkPreview from "@/components/sections/WorkPreview.astro";

const currentLocale = Astro.currentLocale;

const works = await getCollection("works");

const allWorks = works
	.map((work) => {
		const [lang, ...slug] = work.slug.split("/");
		return {
			...work,
			lang: lang,
			slug: work.slug.startsWith("/") ? work.slug : `/${work.slug}`,
		};
	})
	.filter((page) => page.lang === currentLocale)
	.sort(
		(a, b) =>
			a.data.lastUpdateDate.getTime() - b.data.lastUpdateDate.getTime(),
	) as CollectionEntry<"works">[];
---

<div
	class="text-sm font-medium auto-cols-fr grid-cols-1 md:grid-cols-2 grid-rows-[auto] grid gap-9 pb-40"
>
	{allWorks.map((work) => <WorkPreview {work} />)}
</div>
