---
const columnsClasses = [
	"line-full _20",
	"line-full _20",
	"line-full _5",
	"line-full",
	"line-full _5",
	"line-full",
	"line-full _20",
	"line-full",
	"line-full",
	"line-full _5",
	"line-full",
	"line-full",
	"line-full _5",
	"line-full _20",
	"line-full",
	"line-full _5",
	"line-full",
	"line-full",
	"line-full _20",
	"line-full _5",
	"line-full",
	"line-full",
	"line-full",
];
---

<div
	class="bottom-0 left-0 opacity-60 fixed right-0 top-0 pointer-events-none -z-10"
>
	<div class="absolute-lines">
		{columnsClasses.map((className) => <div class={className} />)}
	</div>
</div>

<style>
	.absolute-lines {
		height: 100%;
		grid-column-gap: 16px;
		grid-row-gap: 16px;
		grid-template-rows: auto;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-auto-columns: 1fr;
		display: grid;
	}
	@media screen and (max-width: 767px) {
		.absolute-lines {
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		}
	}
	.line-full {
		grid-area: span 1 / span 1 / span 1 / span 1;
		justify-self: center;
		width: 1px;
		height: 100%;
		background-color: black;
		background-image: linear-gradient(
			to bottom,
			#fff 10%,
			black 50%,
			white 90%
		);
		opacity: 0.1;
		transform: skew(0deg);
	}
	.line-full._5 {
		opacity: 0.05;
	}
	.line-full._20 {
		opacity: 0.15;
	}
</style>
